*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 3px dotted #eee;

}
a{
    text-decoration: none;
    font-weight: 600;
    color: #090807;
}
.container{
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .container img{
height: 59px;
width: 195px;
background-size: cover;
}  
.nav .container ul{
    display: flex;

} 
.nav .container ul li{
    padding: 0px 15px 0px 15px;
    list-style: none;
    font-weight: 600;
    color: #090807;
}
.side_bar{
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;

}
.showw{
    display: block;
}
.hide{
    display: none;
}
.cross{
    display: none;
}
.side_bar ul{
    width: 100%;
}
.side_bar ul li{
    list-style: none;
    width: 100%;
    text-align: center;
 padding: 15px 0px 15px 0px ;
 border-bottom: 1px solid gainsboro;
}
.side_bar{
    display: none;
}
.hide{
    display:none;
}
.container_form{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat( 1,1fr);
    margin-top: 100px;
    width: 60%;
    justify-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
    padding: 10px;
    border-radius: 4px;
}
.form_label{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input{
    height: 24px;
    width: 550px;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border: 1px solid grey;
}
label{
    color: #2e2b28;
    font-size: 16px;
}
.heading{
    text-align: center;
    margin: 10px;
}
.heading p{
margin-top: 20px;
}
input:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
button{
    padding: 10px 20px ;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(95, 95, 207);
    color: white;
    font-size: 15px;
}
.table_container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width: 80%;

}
table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse;
}
.del{
    padding: 10px 20px;
    color: white;
    background-color: rgb(228, 56, 56);
    border: 0px;

}
.edit{
    padding: 10px 20px;
    color: white;
    background-color: rgb(16, 109, 231);
    border: 0px;
}
@media screen and (max-width:780px) {
    .nav .container ul{
        display: none;
    }
    
.show{
    display:flex;
}
.hide{
    display:block;
}
}
