*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 3px dotted #eee;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
    font-weight: 600;
    color: #090807;
}
.container{
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .container img{
height: 59px;
width: 195px;
background-size: cover;
}  
.nav .container ul{
    display: flex;

} 
.nav .container ul li{
    padding: 0px 15px 0px 15px;
    list-style: none;
    font-weight: 600;
    color: #090807;
}
.side_bar{
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;

}
.showw{
    display: block;
}
.hide{
    display: none;
}
.cross{
    display: none;
}
.side_bar ul{
    width: 100%;
}
.side_bar ul li{
    list-style: none;
    width: 100%;
    text-align: center;
 padding: 15px 0px 15px 0px ;
 border-bottom: 1px solid gainsboro;
}
.side_bar{
    display: none;
}
.hide{
    display:none;
}


@media screen and (max-width:780px) {
    .nav .container ul{
        display: none;
    }
    
.show{
    display:flex;
}
.hide{
    display:block;
}
}
